//@import '~vuetify/dist/vuetify.min.css'; これが原因でtextの枠線が表示されていないため、一旦コメントアウト
// Tailwind CSS
@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100%;
}


@media (max-width: 768px) {
    .md-vertical-text {
      writing-mode: vertical-rl;
      text-align: left;
    // flex-direction: column;
    }
}

@layer components {

    // レイアウトが効かなくなるため直接記入するようにした
    .form-control {
        @apply flex flex-col md:flex-row py-3 border-b-2;
    }

    .form-label {
        @apply md:px-3 md:w-2/5;
    }

    .thead-item {
        @apply py-3 px-1 md:px-3 text-xs font-medium tracking-wider text-gray-700 uppercase dark:text-gray-400;
    }
}