// Tailwind CSS
@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100%;
}

$breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@layer components {
    .side-menu {
        @apply md:block w-96 hidden;
    }
    .side-menu-container {
        @apply container px-4 md:pl-4;
    }
    .b-nav-pb {
        @apply pb-20 md:pb-0;
    }
    .pagination-item {
        @apply px-3 py-2 cursor-pointer border border-orange-500 hover:border-orange-500;
    }
    .page-title {
        @apply text-xl font-semibold;
    }
    .product-items {
        width: 47%;
        @include mq(sm){
            width: 47%;
        }
        @include mq(md){
            width: 30%;
        }
        @include mq(xl){
            width: 23%;
        }
    }
}